    <div class="navbar navbar-expand bg-dark navbar-dark">
         <a class="navbar-brand ml-2" href="#">OGcamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>   
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-2">
                <li class="nav-item">
                    <%= link_to "Sign Up", 'user/account', {class: 'nav-link'} %>
                </li>
                <li class="nav-item">
                    <%= link_to "Sign in", 'user/login', {class: 'nav-link'} %>
                </li>
            </ul>
        </div>
    </div>
  
  <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    
                    <div class="signup-form" style="width: 100%;">
                        <h2 class="form-title">Welcome to OGcamp Project</h2>
                        <p>
                            <h3>Project by:</h3>
                            <ul>
                                <li>Maryam Muhammed</li>
                                <li>Nuuman Bashir</li>
                                <li>Adesoye Abeeb Olalekan</li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>
        </section>
    </div>