/* body{
    background-image:url(https://static.pexels.com/photos/371633/pexels-photo-371633.jpeg);
    background-repeat:no-repeat;
    background-size: 100%;
} */
.bg__card__navbar{
	background-color: #000000;
}
.bg__card__footer{
	background-color: #000000 !important;
}
#add__new__list{
    /* top: -38px;
    right: 0px; */
    float: right;
    margin-bottom: 15px;
}

.desc{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}